:root {
  --theme-color: rgb(154, 205, 50);
  --theme-color-light: rgba(154, 205, 50, 0.05);
  --theme-color-medium: rgba(154, 205, 50, 0.1);
  --dark-color: rgba(0,0,0,0.8);
  --dark-focused: rgb(154, 205, 50);
}
@font-face {
  font-family: 'visitor';
  src:  url('visitor2-webfont.woff2') format('woff2'),
        url('visitor2-webfont.woff') format('woff');
}

body {
  font-family: "Helvetica Neue", helvetica, arial, "sans serif";
}
/*
section.cover .cover-main {
  max-width: 500px;
  text-align: left;
  padding: 50px;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}
.cover-main h1 {
  text-align: left !important;
  margin: 0 !important;
}
.cover-main blockquote {
  font-size: 14px;
  margin: 0;
  text-align: left !important;
  text-transform: uppercase;
  font-family: Sans-serif !important;
}
*/
.cover-main h1 {
  text-align: left !important;
  margin: 0 !important;
}
.cover-main blockquote {
  margin: 0 0 15px;
  text-transform: uppercase;
  font-family: Sans-serif !important;
  text-align: left !important;
  font-size: 14px !important;
}
section.cover p {
  font-size: 14px;
  text-align: left;
}
/*
section.cover p {
  margin: 0;
  font-size: 14px;
}
*/
section.cover .cover-main>p:last-child a {
  margin: 20px 0 !important;
}

.sidebar {
  color: rgba(0,0,0,0.8);
}
.sidebar ul li a {
  color: rgba(0,0,0,0.8);
}
.sidebar ul li.active>a {
  color: var(--theme-color);
  border-right: 5px solid;
}
.markdown-section {
  max-width: 800px;
  margin: 20px;
}
section.cover.has-mask .mask {
  background: none !important;
}
section.cover {
  background: #ffffff !important;
}
.cover-main h1 {
  font-size: 100px !important;
}
/*
.cover-main blockquote {
  font-family: visitor;
  font-size: 25px !important;
}
*/
.cover-main img {
  width: 100px;
}
section.cover .cover-main>p:last-child a, section.cover .btn {
  padding: 10px;
  font-family: visitor;
  border-radius: 2px;
  background: black !important;
  color: white;
  border: none;
  line-height: 5px;
  display: inline-block;
  font-size: 20px;
}
.markdown-section code, .markdown-section pre {
  font-size: 12px;
  line-height: 16px;
}
h1, h2, h3, h4, h5 {
  font-family: visitor;
}
.markdown-section h1 {
  font-size: 80px;
  /*
  letter-spacing: -4px;
  */
}
.markdown-section h2 {
  font-size: 40px;
  /*
  letter-spacing: -2px;
  */
}
.markdown-section h3 {
  font-size: 30px;
  border-left: 10px solid black;
  padding-left: 15px;
}
.anchor span {
  color: var(--dark-color);
}
.markdown-section ol, .markdown-section p, .markdown-section ul {
  line-height: 1.4rem;
}
.markdown-section textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  height: 400px;
  font-size: 12px;
  border: none;
  background: rgba(0,0,0,0.8);
  color: white;
}
.home {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
  color: rgba(255,255,255,0.9);
  background: rgba(0,0,0,0.9);
}
.home .item {
  font-size: 12px;
  font-weight: bold;
  color: rgba(255,255,255,0.8);
  padding: 10px 20px;
  background: rgba(0,0,0,0.2);
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
}
.home #title i {
  font-size: 80px;
}
.home #title {
  font-size: 35px;
  letter-spacing: -1px;
}
a.btn {
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 10px;
  border-radius: 2px;
  color: white;
  text-decoration: none;
}
.rotate {
  animation: rotation 10s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.beat {
  animation: 6s infinite beatHeart;
}

@keyframes beatHeart {
  0% {
    transform: rotate(0deg) scale(1);
    /*
    transform: scale(1);
    */
  }
  25% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2) rotate(359deg);
  }
  100% {
    transform: scale(1);
    /*
    transform: rotate(359deg) scale(1);
    */
  }
}
.row {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}
.col {
  margin-left: 20px;
  text-align: left;
  color: rgba(0,0,0,0.9);
}
